venv
.vscode
.idea
__pycache__
migrations

zuman/static/profile_pics/*
!zuman/static/profile_pics/zuman.jpg
conf.py
site.db
requirements.txt
enggart-72506-firebase-adminsdk-dcsh2-ea24ee5a1c.json